.scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(71, 71, 71, 0.575);
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  animation-name: btn-scrollTop;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.scrollTop:hover {
  background-color: rgba(71, 71, 71);
}

@keyframes btn-scrollTop {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 2px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
