.btn-contact {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
}
.icon-contact {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

.main-content__layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  text-align: center;
  animation-duration: 2s;
}
.main-content__layout div img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 3px grey;
}
.main-content__layout div {
  margin: 2rem 4rem;
}
.main-content__text {
  text-align: left;
}

.advice {
  display: flex;
  justify-content: center;
  width: 100%;
}
.advice_content {
  width: 50rem;
  overflow: auto;
  height: 10em;
  border: 1px solid gray;
  margin: 1rem 0;
}

.advice_content::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: #aaa;
}

.advice_content::-webkit-scrollbar-thumb {
  background: #000;
}
.advice-title {
  text-align: center;
}

.group-video {
  display: flex;
  justify-content: center;
}
.main-video {
  margin: 2rem;
  width: 512px;
  height: 415px;
}
@media (max-width: 1024px) {
  .btn-contact {
    flex-direction: row;
    position: static;
    justify-content: center;
  }
  .main-content__layout {
    display: grid;
    grid-template-columns: auto;
  }
  .main-content__text_swap {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .main-content__layout div {
    margin: 1rem 2rem;
  }
  .group-video {
    display: block;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .main-video {
    width: 420px;
    height: 315px;
  }
  .advice_content {
    width: 20rem;
  }
}

@keyframes animation-content {
  0% {
    transform: translate(0px, 200px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
