.login-account {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 4rem;
  animation-name: login-transition;
  animation-duration: 1s;
}
.login-header {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #007bff;
}
.login-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #007bff;
  border-bottom: 1px solid black;
}
.group-input-user {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 5px;
}
.input-user {
  border: none;
}
.btn-login {
  margin: 1rem 0;
  padding: 0 1rem;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}
.btn-login:hover {
  transition: 0.35s ease-in-out;
  background-color: #0044ff;
}

.login-footer {
  display: flex;
  justify-content: space-between;
}
.login-register {
  font-size: large;
  margin-right: 1rem;
}
.login-register:hover {
  text-decoration: none;
}
.login-forgot {
  color: gray;
  font-size: large;
}
.login-forgot:hover {
  text-decoration: none;
}

@keyframes login-transition {
  0% {
    transform: translate(100px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
