.App-background {
  position: absolute;
  background-image: url("./Assets/Images/background.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 325%;
  opacity: 0.2;
  z-index: -1;
}
