.calculate-contain {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.calculate-component {
  border: 1px solid gray;
  box-shadow: 5px 5px 5px green;
  margin: 2rem;
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}
.input-cal {
  margin: 1rem;
}
